<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=790">
  <title>Release notes for foo</title>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<center>

  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
  <tr>
  <td align="center" valign="top" style="padding-top:20px;">

    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
    <tr>
    <td align="center" valign="top">

      <table border="0" cellpadding="10" cellspacing="0" width="100%">
      <tr>
      <td valign="top" class="bodyContent">

        <div>
        <h1 class="h1">Page speed scores:</h1>
        </div>

      </td>
      </tr>
      <tr>
      <td valign="top">

        <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable">
        <tr>
        <th scope="col" valign="top" width="80%" class="dataTableHeading">
          URL
        </th>
        <th scope="col" valign="top" width="10%" class="dataTableHeading">
          MOBILE
        </th>
        <th scope="col" valign="top" width="10%" class="dataTableHeading">
          DESKTOP
        </th>
        </tr>

        <% for (var i = 0; i < results.length; i++) { %>
          <tr>
          <td><a href='<%= results[i][0].url %>'><%= results[i][0].url %></a></td>
          <td align="center"><%= results[i][0].mobileScore %></td>
          <td align="center"><%= results[i][1].desktopScore %></td>
          </tr>
        <% } %>

        </table>

      </td>
      </tr>
      <tr>
      <td valign="top" class="bodyContent">

        <div>
        <pre>
          Saved at <%= timestamp %>
          Requests took <%= timer %> seconds to complete
        </pre>
        </div>

      </td>
      </tr>
      </table>

    </td>
    </tr>
    </table>

    <br>

  </td>
  </tr>
  </table>

</center>
</body>
</html>